*{
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
    list-style-type: none;
    text-decoration: none;
}
#top{
    width: 100%;
    height: 40px;
    background-color: rgb(227,225,225);
}
#dingwei{
    margin-left: 140px;
    font-size: 14px;

}
#dingwei img{
    margin-top: -3px;
}
#dingwei li{
    float: left;
    margin-left:  20px;
    margin-top: 11px;

}
#dingwei a{
    color:rgb(56,58,57);
}
#redhrb a{
    color:rgb(195,24,31);
}
#denglu{
    margin-left: 555px;
    font-size: 14px;
}
#denglu li{
    float: left;
    margin-top: 11px;
    margin-left:  20px;
}
#denglu a{
    color:rgb(56,58,57);
}
#logo{
    width:100%;
    height: 169px;
    overflow: hidden;
}
#biglogo{
    margin-left: 173px;
    margin-top: 26px;
    position: relative;

}
h1{
    margin-left: 521px;
    margin-top: -83px;
    position: relative;
}
/*登录结束*/
#zhuceye{
    width: 1002px;
    height: 488px;
    border: 1px solid black;
    margin: auto;
}
#zhuceye>div:first-child{

    float: left;
    margin-top: 10px;
    margin-left: 47px;
}
#kuang{

    margin-bottom: 22px;
    width: 271px;
    float: left;
}
#kuang input{
    height: 35px;
    width: 270px;
    margin: 11px 0;

}
#wenzi{
    float: left;
    text-align: right;
    width: 90px;
    line-height: 61px;
    font-size: 14px;
    font-family: Regular;
}
#xieyi{
    margin-left: 91px;
    margin-top: 10px;

}
#xieyi p{
    font-size: 12px;
    font-family: Regular;
    color: rgb(195,24,31);
    margin: 23px 0;

}
#xieyi button{
    height: 35px;
    width: 270px;
    background-color:rgb(195,24,31) ;
    border: hidden;
    color: white;
    font-size: 18px;
    font-family: Regular;
}
#zhanghao{
    border-left:1px solid rgb(56,58,57);
    float: right;
    height: 407px;
    width: 293px;
}
#zhanghao p{
    font-size: 14px;
    font-family: Regular;
    text-align: center;
    margin: 20px auto;

}
#zhanghao button{
    background-color:rgb(195,24,31) ;
    color: white;
    font-size: 18px;
    font-family: Regular;
    border: hidden;
    width: 63px;
    height: 32px;
}
#zhanghao #saoyisao{
    margin-left: 73px;
    margin-top: 49px;
}
#zhanghao #qq{
    margin-left: 73px;
    margin-top: 20px;
}








/*底部*/
#tiaodiv{
    margin-left:211px;
}
#tiaodiv>*{
    display: inline-block;
    vertical-align: middle;
    margin: 20px 13px;
}
#bottom{
    width: 100%;
    height: 437px;
    background-color:  rgb(195,24,31);
}

#bottom div{
    float: left;
    margin-left: 60px;
    line-height: 44px;
    margin-top: 52px;
    color: white;
    font-size: 14px;
}
#bottom div:first-child{
    float: left;
    margin-left: 209px;
    line-height: 44px;
    margin-top: 52px;
    color: white;

}
.biaoti{
    line-height: 60px;
    font-size: 20px;

}
